<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DragonBall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE30ECC42882FE0E009A3C76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE30ECDA2882FE12009A3C76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE30ECE42882FE12009A3C76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
